# Ignore everything - let's not push some secrets ;)
*

# except some important ones maybe
!etc/
!.gitignore
!README.md

# sudo
!etc/sudo.conf
!etc/sudoers
!etc/sudoers.d/
!etc/sudoers.d/*
!etc/sudo_logsrvd.conf
