# Ignore everything - let's not push some secrets ;)
*

# except some important ones maybe
!etc/
!.gitignore
!README.md

# greetd
!etc/greetd/
!etc/greetd/config.toml

# regreet
!etc/greetd/greeter.sh
!etc/regreet/
!etc/regreet/config.toml
!etc/regreet/style.css
